{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Update Todo</h1>
    <div class="col-md-6">
        <form method="POST" action="{% url 'edit' todo.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="newTodo" class="form-label">Modified Todo will be:</label>
                {{ form.title }}
            </div>
            <div class="col-md-6">
                <button class="btn btn-light" type="submit">Update 🔄</button>
                <a href="{% url 'Todos' %}" class="btn btn-light">Cancel ❌</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}