{% extends "base.html" %}

{% block title %}Sign Up -{% endblock %}

{% block content %}


<br>

<form method="POST">

    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% comment %} Username {% endcomment %}
    <div class="mb-3">
        <label for="{{ registerform.username.id_for_label }}" class="form-label">Username:</label>
        <div class="col-md-6">
            {{ registerform.username }}
        </div>
    </div>

    {% comment %} Email Id {% endcomment %}
    <div class="mb-3 mt-3">
        <label for="{{ registerform.email.id_for_label }}" class="form-label">Email:</label>
        <div class="col-md-6">
            {{ registerform.email }}
        </div>
    </div>

    {% comment %} Password {% endcomment %}
    <div class="mb-3">
        <label for="{{ registerform.password1.id_for_label }}" class="form-label">Password:</label>
        <div class="col-md-6">
            {{ registerform.password1 }}
            {% if registerform.password1.errors %}
            <div class="text-danger">
                {% for error in registerform.password1.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <small class="form-text text-muted">
            Your password must contain at least 8 characters, can't be entirely numeric, can't be too similar to your
            other personal information, and can't be a commonly used password.
        </small>
    </div>

    {% comment %} Confirm Password {% endcomment %}
    <div class="mb-3">
        <label for="{{ registerform.password2.id_for_label }}" class="form-label">Confirm Password:</label>
        <div class="col-md-6">
            {{ registerform.password2 }}
            {% if registerform.password2.errors %}
            <div class="text-danger">
                {% for error in registerform.password2.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>


{% endblock %}